<template>
  <!-- V1 -->
  <!-- <div>
    <span v-html='welcomeMessage' v-hide>
    </span>
    <form v-hide v-on:submit.prevent="addPlayer">
      <span>Nouveau ? Entrez votre pseudo et jouez !<br></span>
      <input type="text" name="player" placeholder="Pseudo">
      <input type="submit" value="Jouer !">
    </form>
  </div> -->
  <div>
    <span v-html='welcomeMessage' :class="{ hide: !player }">
    </span>
    <form v-on:submit.prevent="addPlayer" :class="{ hide: player }">
      <span>Nouveau ? Entrez votre pseudo et jouez !<br></span>
      <input type="text" name="player" placeholder="Pseudo">
      <input type="submit" value="Jouer !">
    </form>
  </div>
</template>

<script>
export default {
  name: 'player',
  data: function () {
    return {
      player: '',
      welcomeMessage: ''
    }
  },
  updated: function () {
    this.welcomeMessage = `Bonjour <span class="player"> ${this.player} </span> !`
  },
  /* Version 1
  directives: {
    hide: function (el, binging, vnode) {
      let isForm = vnode.tag === 'form'
      let player = vnode.context.player
      if (isForm) {
        el.style.display = player ? 'none' : 'block'
      } else {
        el.style.display = player ? 'block' : 'none'
      }
    }
  }, */
  methods: {
    addPlayer: function (event) {
      let playerName = event.target[0].value
      if (!playerName) {
        window.alert('Merci de renseigner votre pseudo !')
        return
      }
      this.player = playerName
    }
  }
}
</script>

<style>
.player{
  color: #42f4f4;
  font-weight: 600;
}
/*V2*/
.hide{
  display: none;
}
</style>
