<template>
  <div id="app">
    <game></game>
    <player></player>
    <score></score>
  </div>
</template>

<script>
import Game from './components/Game'
import Score from './components/Score'
import Player from './components/Player'

export default {
  name: 'app',
  components: {
    Game,
    Score,
    Player
  }
}
</script>
